<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:3000">
      <img src="assets/ttt-logo.png">
    </a>

    <h2 class="navbar-item navbar-item-title">
      Tic Tac Toe Online
    </h2>
  </div>

  <div class="navbar-menu" *ngIf="userSignedIn">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" (click)="logOut()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>